.wrapper nav {
    display: flex;
    margin: 10px;
}

.wrapper .navItem {
    width: 150px;
    height: 60px;
    text-align: center;
    border: 1px solid black;
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 25px;
}

.wrapper .navItem a {
    font-weight: bold;
    text-decoration: none;
    color: black;
}
